body, html{
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #292929;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    max-width: 915px;
    min-width: 915px;
    width: 98%;
    margin: 0 auto;
    position: relative;
}

