body, html{
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}
html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #292929;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    min-width: 940px;
    width: 98%;
    margin: 0 auto;
    position: relative;
}
.second-title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin: 0 auto;
    text-transform: uppercase;
  }

