.header {
    width: 100%;
    padding: rem(24px) 0 rem(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;  
}

.menu__item {
    margin-right: rem(27px);
    font-weight: 400;
    font-size: rem(18px);
    &:last-child(){
        margin-right: 0;
    }
}
.menu__link:hover {
    cursor: pointer;
    color: #E01F3D;
    transition: all ease-in-out .2s;
}

.telephone {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: rem(18px);
    position: relative;
    margin-right: rem(25px);
}
.telephone:hover{
    cursor: pointer;
    color: #E01F3D;
}
.telephone::before {
    content: "";
    display: block;
    width: rem(14px);
    height: rem(15px);
    background-image: url("./img/phohe.png");
    position: absolute;
    right: 103%;
    top: 21%;
}