.hove__we__work{
    padding-bottom: 105px;
    background: #F8FAF9;
  }
.conteiner__hove__we__work {
    display: flex;
    flex-direction: column;
}
  .hove__we__work-title {
    padding: 58px 0 44px;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: -5px;
  }
  .img__hove__we__work {
    width: 662px;
    margin: 0 auto;
  }