.hove__we__work{
    padding-bottom: rem(105px);
    background: #F8FAF9;
  }
.conteiner__hove__we__work {
    display: flex;
    flex-direction: column;
}
  .hove__we__work-title {
    padding: rem(58px )0 rem(44px);
    font-weight: 800;
    font-size: rem(48px);
    text-align: center;
    letter-spacing: rem(5px);
    word-spacing: rem(-5px);
  }
  .img__hove__we__work {
    width: rem(662px);
    margin: 0 auto;
  }