.offers {
  height: 100vh;
  background: #F8FAF9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img__offer{
  max-height: rem(452px);
}
.offers__list{
  position: relative;
  &::before{
    content: "";
    display: block;
    width: rem(16px);
    height: rem(30px);
    background: url(../img/vector_Before.png) center no-repeat;
    position: absolute;
    right: 105%;
    top: 50%;
    margin-left: 20px;
  }
  &::after{
    content: "";
    display: block;
    width: rem(16px);
    height: rem(30px);
    background: url(../img/vector_After.png) center no-repeat;
    position: absolute;
    left: 105%;
    top: 50%;
    margin-right: 20px;
  }
}
.offer__item {
  display: flex;
  align-items: center;
}
.prise__inf {
  display: flex;
  padding-top: rem(25px);
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.prise{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: rem(36px);
    padding-right: rem(13px);
    white-space: nowrap;
  }
  .offer__title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: rem(36px);
    text-transform: uppercase;
    padding-top: rem(25px);
  }
  .offer__title-desc {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: rem(16px);
    color: #666666;
    padding-top: rem(24px);
  }
  .offer__information{
    display: flex;
    justify-content: start;
    padding-top: rem(25px);
  }
  .parameters{
    margin-right: rem(85px);
    display: flex;
    flex-direction: column;
  }
  .parameters__element-name {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: rem(14px);
    color: #666666;
  }
  .parameters__element {
    font-weight: 700;
    font-style: normal;
    font-style: rem(18px);
    white-space: nowrap;
  }
  .settings__gear{
    width: 91px;
    height: 91px;
    background: url("./img/gear.png") center no-repeat;
    position: relative;
    &:hover{
      cursor: pointer;
    }
  }
  .settings{
    display: flex;
  }
  .settings__list{
    background: white;
    opacity: .8;
    position: absolute;
    left: 100%;
    padding-bottom: 28px;
    display: none;
    &::before{
      content: "";
      display: block;
      width: 91px;
      height: 70px;
      background: transparent;
      position: absolute;
      top: 34%;
      right: 100%;
      z-index: 100;
    }
  }
  .settings__item{
    padding-left: rem(68px);
    padding-top: rem(28px);
    padding-right: rem(63px);
    position: relative;
    font-size: rem(14px);
    font-weight: 400;
    font-family: "Play", sans-serif;
  }
.settings__item-bluetooth{
  &:before{
  content: "";
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 70%;
      top: 42%;
      background: url(../img/bluetooth.png) center no-repeat;
}
  &::after{
    content: "4.0";
    margin-left: 30px;
    display: block;
    position: absolute;
    right: 10px;
    top: 61%;
    
  }
}
.settings__item-range{
  &:before{
  content: "";
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 70%;
      top: 42%;
  background: url(../img/range.png) center no-repeat;
}
&::after{
  content: "12 м";
  margin-left: 30px;
  display: block;
  position: absolute;
  right: 10px;
  top: 61%;
  
}
}
.settings__item-charging{
  &::before{
  content: "";
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 70%;
      top: 42%;
  background: url(../img/charging.png) center no-repeat;
}
&::after{
  content: "3 ч";
  margin-left: 30px;
  display: block;
  position: absolute;
  right: 10px;
  top: 61%;
  
}
}
.settings__item-weight{
  &::before{
  content: "";
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 70%;
      top: 42%;
  background: url(../img/weight.png) center no-repeat;
}
&::after{
  content: "215 гр";
  margin-left: 30px;
  display: block;
  position: absolute;
  right: 10px;
  top: 61%;
  
}
}
.settings__item-guarantee{
&::before{
  content: "";
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 70%;
      top: 48%;
  background: url(../img/guarantee.png) center no-repeat;
}
&::after{
  content: "1 год";
  margin-left: 30px;
  display: block;
  position: absolute;
  right: rem(10px);
  top: 61%;
  
}
}