.offers {
  background: #F8FAF9;
  padding-top: rem(66px);
  position: relative;
  padding-bottom: rem(94px);
}
.offer {
  display: flex;
  align-items: center;
}
.prise__inf {
  display: flex;
  padding-top: rem(25px);
  align-items: center;
  justify-content: start;
}
.prise{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: rem(36px);
    padding-right: rem(13px);
  }
  .offer__title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: rem(36px);
    text-transform: uppercase;
    padding-top: rem(25px);
  }
  .offer__title-desc {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: rem(16px);
    color: #666666;
    padding-top: rem(24px);
  }
  .offer__information{
    display: flex;
    justify-content: start;
    padding-top: rem(25px);
  }
  .parameters{
    margin-right: rem(85px);
    display: flex;
    flex-direction: column;
  }
  .parameters__element-name {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: rem(14px);
    color: #666666;
  }
  .parameters__element {
    font-weight: 700;
    font-style: normal;
    font-style: rem(18px);
  }