.reviews{
  height: 100vh;
}
.reviews__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .rewiews__person {
    display: flex;
    padding: 42px;
    margin-top: 30px;
    background: #F8FAF9;
    position: relative;
    &::after{
      content: "";
      display: block;
      width: 83px;
      height: 83px;
      background: white;
      border-radius: 50%;
      position: absolute;
      left: 47%;
      top: -17%;
      z-index: 50;
    }
  }
  .review__list {
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .review__title {
    font-family: "Play", sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
  .second-title--index{
    z-index: 100;
  }
  .review__title-perc {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666;
  }
  .rewiews__name {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 18px;
  }
  .pagginator {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }
  .pagginator__element {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin: 40px 6px;
    cursor: pointer;
    &:first-child {
      background: url("./img/photo_billy_ailish_mini.png") center no-repeat;
    }
    &:nth-child(2) {
      background: url("./img/photo_vadim_grachev_mini.png") center no-repeat;
    }
    &:last-child {
      background: url("./img/photo_maria_orlova_mini.png") center no-repeat;
    }
    &:hover{
      border: solid 3px #E01F3D;
    }
  }
 