.conteiner_team {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  &::before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: #292929;
  position: absolute;
  transform: rotate(20deg);
  top: -2%;
  left: 85%;
  }
}

  .team__title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    padding: 70px 0 50px;
    text-transform: uppercase;
  }
  .team__persons {
    display: flex;
  }
  .team__person {
    margin: 10px;
  }
  .person__ellement {
    text-align: center;
  }
  .person__name {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 25px;
  }
  .name__ellement {
    position: relative;
    &::after{
      content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 4.5px 0 4.5px;
    border-color: #e01f3c transparent transparent transparent;
    position: absolute;
    left: 103%;
    top: 31%;
    }
  }

.person__prof {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 11px;
  }
  .person__duties {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 11px;
    color: #666666;
  }