.why-beats{
  height: 100vh;
}
.why-beats__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .why-beats__conteiner::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 98%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 24px 31px 12px;
    border-color: transparent transparent #E01F3D transparent;
    transform: rotate(109deg);
    z-index: 100;
  }
  .why-beats__desc {
    font-family: "Play", sans-serif;
    padding-top: 18px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    color: #666666;
    padding-bottom: 60px;
  }
  .advantages{
    display: flex;
    justify-content: space-between;
    padding-bottom: 123px;
  }
  .advantages__element{
    display: flex;
    flex-direction: column;
  }
  .advantages__title{
    font-weight: 700;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding-bottom: 7px;
  }
  .advantages__title-desc {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #666666;
  }
.advantages__img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 24px;
    background: #F2F5F4;
  }

  
  .img__battery {
    background: url("./img/img_battery.png") center no-repeat, #F2F5F4;
    position: relative;
    &::after{
      content: "";
      width: 100px;
      height: 100px;
      display: block;
      background: url("../img/combo_share.png") center no-repeat;
      position: absolute;
      left: 182px;
      top: 15px;
    }
  }
  .img__sound {
    background: url("./img/img_sound.png") center no-repeat, #F2F5F4;
    position: relative;
    &::after{
      content: "";
      width: 100px;
      height: 100px;
      display: block;
      background: url("../img/combo_share.png") center no-repeat;
      position: absolute;
      left: 182px;
      top: 15px;
    }
  }
  .img__stopwotch{
    background: url("./img/img_stopwotch.png") center no-repeat, #F2F5F4;
  }