.why-beats{
  height: 100vh;
  padding-top: rem(96px);
}
.why-beats__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .why-beats__conteiner::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 98%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem(4px) rem(24px) rem(31px) rem(12px);
    border-color: transparent transparent #E01F3D transparent;
    transform: rotate(109deg);
    z-index: 100;
  }
  .why-beats__desc {
    font-family: "Play", sans-serif;
    padding-top: rem(18px);
    font-weight: 400;
    font-size: rem(16px);
    text-align: center;
    margin: 0 auto;
    color: #666666;
    padding-bottom: rem(60px);
  }
  .advantages{
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(123px);
  }
  .advantages__element{
    display: flex;
    flex-direction: column;
    position: relative;
    &:first-child::after{
      content: "";
      width: rem(100px);
      height: rem(100px);
      display: block;
      background: url("./img/combo_share.png") center no-repeat;
      position: absolute;
      left: rem(267px);
      top: rem(15px);
    }
    &:last-child::before{
      content: "";
      width: rem(100px);
      height: rem(100px);
      display: block;
      background: url("./img/combo_share.png") center no-repeat;
      position: absolute;
      left: rem(-70px);
      top: rem(15px);
    }
  }
  .advantages__title{
    font-weight: 700;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: rem(24px);
    text-align: center;
    padding-bottom: rem(7px);
  }
  .advantages__title-desc {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: rem(16px);
    text-align: center;
    color: #666666;
  }
.advantages__img {
    width: rem(128px);
    height: rem(128px);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: rem(24px);
    background: #F2F5F4;
  }

  
  .advantages__battery {
    background: url("./img/img_battery.png") center no-repeat, #F2F5F4;
    position: relative;
    
  }
  .advantages__sound {
    background: url("./img/img_sound.png") center no-repeat, #F2F5F4;
    position: relative;
    
  }
  .advantages__stopwotch{
    background: url("./img/img_stopwotch.png") center no-repeat, #F2F5F4;
  }